<h1>About Us</h1>
<p> A sample application created for our Web programming project and to learn more about Ruby on Rails
</p>
<p>
	This project was made by following people
	 <ul>
	 	<li> Smit Shah (<strong>1RV08IS044</strong>)</li>
	 	<li> Shashank Shekhar (<strong>1RV08IS045</strong>)</li>
	 	<li> Srinivas (<strong>1RV08IS051</strong>)</li>
 	</ul>
 </p>

